.perfil { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30vh;
}


.perfil > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #38bdf8;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.perfil > img:hover {
    transform: scale(1.05);
}

.perfil-texto {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.perfil-texto > h2 {
    background: linear-gradient(to right, blue, aqua);
    background-clip: text;
    color: transparent;
}