.perfil { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.perfil > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #38bdf8;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.perfil > img:hover {
    transform: scale(1.05);
}