.habilidade {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  gap: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}

.habilidade:hover {
  scale: 105%;
}

@media (max-width: 480px) {
  .habilidade {
    width: 100%;
    max-width: 160px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .habilidade {
    width: 140px;
  }
}
