.projeto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;       /* espaço entre img, h3, p e link */
  padding: 10px;
  max-width: 250px; /* limita o tamanho do card */
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: scale 0.3s;
}

.projeto-card > img {
  width: 100%;          /* a imagem ocupa a largura do card */
  height: 150px;        /* altura fixa */
  object-fit: cover;    /* mantém proporção, corta se precisar */
  border-radius: 5px;   /* opcional, deixa cantos arredondados */
}

.projeto-card:hover {
  scale: 105%;
}

.projeto-card > a {
  color: aqua;
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
}