.projeto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;       
  padding: 10px;
  max-width: 250px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: scale 0.3s;
}

.projeto-card > img {
  width: 100%;          
  height: 150px;       
  object-fit: cover;    
  border-radius: 5px;   
}

.projeto-card:hover {
  scale: 105%;
}

.projeto-card > a {
  color: aqua;
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}