header {
  padding: 20px;
  text-align: center;
}

header > h1 {
    display: flex;
    justify-content: center;
}

header > p {
    display: flex;
    justify-content: center;
}

header > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    border: 2px solid white;
    border-radius: 8px;
    text-decoration: none;
    padding: 2px 1px;
    transition: scale 0.3s ease;
}

header > a:hover {
    scale: 105%;
}