.flex-conteiner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 30px;
}  

.flex-conteiner > h1 {
    background: linear-gradient(to right, blue, aqua);
    background-clip: text;
    color: transparent;
}

nav > a {
    display: inline-block;
    color: aqua;
    font-weight: bold;
    text-decoration: none;
}

nav > a:hover {
    scale: 105%;
}