.flex-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}  

.flex-conteiner > h1 {
    background: linear-gradient(to right, blue, aqua);
    background-clip: text;
    color: transparent;
}

nav > a {
    display: inline-block;
    color: white;
    background-color: black;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    margin-right: 12px;
}

nav > a:hover {
    scale: 105%;
}

.curriculo {
    background-color: aqua;
    color: rgb(0, 0, 0);
}