.flex-conteiner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 30px;
}  

nav > a {
    display: inline-block;
    color: aqua;
    font-weight: bold;
    text-decoration: none;
}

nav > a:hover {
    scale: 105%;
}