.botao-contato {
  display: block;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 30px auto;
  transition: scale 0.3s ease;
}

.botao-contato:hover {
  scale: 105%;
}


footer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 10px; 
  padding: 20px;
}

.social-links {
  display: flex;
  gap: 15px; 
  font-size: 28px;
  transition: scale 2px;
}

.social-links a {
  color: #38bdf8;          

}

.social-links a:hover {
    scale: 105%;
}