* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0f0f0f; 
    margin: 0px auto;
    color: white;
}

main {
  padding-top: 80px; 
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 140px
}

.section {
  min-height: 100vh;        
  padding: 80px 20px;
  margin-bottom: 120px;
  scroll-margin-top: 80px;
  box-sizing: border-box;
}




.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.skills > h2 {
  padding: 30px;
}

.skill-lista {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}


.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projetos > h2 {
  padding: 30px;
}

.projetos-lista {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}


  
